.reviewContainer {
  min-width: 300px;
}

.reviewerPhoto {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.reviewerInfo span {
  margin-left: 0.7em !important;
}

.reviewDate p {
  font-size: 16px !important;
}
