@media (min-width: 992px) {
  .main-settings-container {
    max-width: 900px !important;
  }
}

.avatar-uploader .imgPhoto {
  border-radius: 50%;
  width: 95px;
  height: 95px;
  object-fit: cover;
  margin-bottom: 1em;
}
