@keyframes fadeInOut {
  0%, 100% {
    opacity: 1.0; /* Set opacity to 1.0 (fully visible) at the start and end */
  }
  /* Set opacity to 0.5 at the halfway point of the animation to create a blink effect */
  50% {
    opacity: 0.4;
  }
}

.productsLoading {
  width: 100%;
  height: auto;
  min-height: 350px;
  background-color: #f4f4f4;
  border: 1px solid rgb(211, 211, 211, 0.3);
  animation: fadeInOut 2s infinite;
}