@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  /* Set opacity to 1 at the halfway point of the animation to fade in */
  50% {
    opacity: 1;
  }
}

.productsLoading {
  width: 100%;
  height: auto;
  min-height: 350px;
  background-color: #f8f8f8;
  border: 1px solid rgb(211, 211, 211, 0.3);
  animation: fadeInOut 2s infinite;
}
