.grid article img {
  max-width: 200px;
  max-height: 200px;
}

.description {
  font-size: 18px !important;
}

.price {
  font-size: 24px;
}

/* Media queries for .list-actions */
@media (max-width: 576px) {
  .list-actions {
    width: 90% !important;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .list-actions {
    width: 85% !important;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  .list-actions {
    width: 65% !important;
  }
}

@media (min-width: 992px) {
  .list-actions {
    width: 100% !important;
  }
}
