.tr {
  margin-left: 0.5rem !important;
}

.logo {
  width: 48px;
  height: 48px;
}

[role="listbox"] li:hover {
  cursor: pointer;
}

aside.smallScreen {

}

aside.smallScreen summary {
  font-size: 120%;
}

aside.smallScreen span {
  font-size: 130% !important;
}